body{
    height:100% ;
    width: 100%;
    background-color: rgb(20, 17, 17);
}

body.dark{
    height:100% ;
    width: 100%;
    background-color: rgb(233, 216, 230);
}

button{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}